{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}
{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='users.js')}}"></script>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Cover
            </th>
            <th>
                ФИО
            </th>
            <th>
                Description
            </th>
            <th>
                Year
            </th>
            <th>
                Publisher
            </th>
            <th>
                Author
            </th>
            <th>
                Page_count
            </th>
            <th>
                action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books_list %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                <img class="card-img-top" src="{{ url_for('static', filename = 'img/' + book.filename  ) }}" alt="Card image cap" style = "height:200px">
            </td>
            <td id="Title">
                {{ book.title }}
            </td>

            <td>
                {{ book.description }}
            </td>
            <td>
                {{ book.year }}
            </td>
            <td>
                {{ book.publisher }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {{ book.page_count }}
            </td>
            <td>
                <div class="btn-group" role="group">
                    {% if current_user.is_authenticated %} 
                        {% if current_user.can("show", user) %}
                            <a class="btn btn-secondary" href="{{ url_for('books.show_book', book_id=book.id)}}">Просмотр</a>
                        {% endif %}
                        {% if current_user.can("edit", user) %}
                            <a class="btn btn-primary" href="{{ url_for('books.edit_book', book_id=book.id)}}">Редактировать</a>
                        {% endif %}
                        {% if current_user.can("delete", user) %}
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{{ url_for('delete_user', user_id=user.id)}}" data-login="{{user.login}}"> Удалить </button>
                        {% endif %}
                    {% endif %}  
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated and current_user.can("create") %}
<a class="btn btn-primary mb-4" href="{{ url_for('new_user') }}">Добавить пользователя</a>
{% endif %}
{{ pagination(current_page, last_page, request.endpoint) }}
{% endblock %}